/*Default styles for Mobile*/

* {
  margin: 0;
  font-family: "Roboto";
}

main {
  background-color: #D9E4EC;
}

.dark {
  background-color: #B7CFDC;
}

.light {
  background-color: #D9E4EC;
}

/*Header*/
header {
  display: flex;
  height: 10vh;
  width: 100vw;
  align-items: center;
  background-color: #0C4160;
  color: #fff;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 10px 0 10px 10px;
}

.header-text {
  padding: 10px;
  font-family: "Roboto";
  font-weight: bold;
  flex-grow: 1;
  font-size: 20px;
}

/*Mobile dropdown menu in header*/
.dropdown-button {
  width: 40px;
  height: 30px;
  margin: 10px 20px 10px 20px;
  border: none;
  background-image: url('../images/menu-icon.png');
  background-size: contain;
  background-color: #B7CFDC;
  border-radius: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  margin-top: 10vh;
  background-color: #949494;
  list-style-type: none;
}

.dropdown-item-light, .dropdown-item-dark {
  display: block;
  width: 100vw;
  padding: 10px;
  margin: 0;
  color: #000;
  text-decoration: none;
  background-color: #D9E4EC;
}

.dropdown-item-dark {
  background-color: #B7CFDC;
}

.dropdown-button:focus + .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

/*Banner image*/
.banner-image {
  width: 100vw;
  display: block;
}

/*Global section styles*/
.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.section-title {
  text-align: center;
  padding: 15px;
  text-shadow: 2px 2px 5px #000;
  background-color: #0C4160;
  color: #fff;
}

.section-button {
  align-self: center;
  margin: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e6c300;
  font-weight: bold;
  font-size: 16px;
  width: 60vw;
}

/*.section-button:hover {
  background-color: #b39800;
}
*/
.section-button:active {
  transform: scale(0.9);
  transition: all 0.1s ease-in-out;
  background-color: #b39800;
}

/*Services Section*/
.service-card {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  display: flex;
  background-color: #fff;
  align-items: center;
}

.service-image {
  width: 25%;
}

.service-text {
  padding: 1em;
}

.service-title {
  text-align: center;
  padding-bottom: 10px;
}

/*Our team section*/
#team {
  background-color: #0C4160;
}

.team-card {
  display: flex;
}

.team-image {
  width: 35%;
}

.team-text {
  padding: 1rem;
}

.team-title {
  padding-bottom: 1rem;
}

/*Contact Section*/
#contact {
  background-image: url(../images/banner-placeholder.png);
  background-size: contain;
  height: 600px;
  justify-content: center;
  align-items: center;
}




/*Tablet*/
@media (min-width 769px) {

}

/*Desktop*/
@media (min-width: 1201px) {

}